<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #333;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    form {
      margin-bottom: 20px;
    }
  </style>
<body>
    <h1>Login</h1>
    <form action = "/user/login" method="post">
        <label>
            Email
        </label>
        <input type="text" required name="email">
        <label>
            Password
        </label>
        <input type="text" required name="password">

        <button type="text">Login</button>
    </form>
    
</body>
</html>